.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@include responsive(768) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@include responsive(600) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
