.directors {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #004047;
  background-image: url("../img/contact-bg.svg");
  background-repeat: no-repeat;
  background-position: left calc(50% - 760px) top;
}
.directors__header {
  margin-top: 0;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  width: 100%;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.directors__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: -15px;
  margin-left: -15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.directors__item {
  position: relative;
  width: 350px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 32px;
  margin-top: 32px;
  background-color: #012f34;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &--open {
    background-color: #002529;
  }
  &--open .directors__item-details {
    display: block;
  }
  &--open .directors__item-user {
    display: none;
  }
  &--open .more-btn {
    background-color: #79c8c7;
    background-image: url("../img/rotate-plus.svg");
  }
}
.directors__item-img {
  border-radius: 50%;
  margin-bottom: 16px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.directors__item-user {
  opacity: 0;
  transform: translateY(100%);
  animation-name: user-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.directors__item-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7;
}
.directors__item-job {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.directors__item-details {
  opacity: 0;
  transform: translateY(-100%);
  display: none;
  animation-name: details-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.directors__item-desc {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.directors__item-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.directors__item-socials-link {
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
  & svg {
    display: block;
  }
  &:hover .path {
    fill: #f67e7e;
  }
}
.more-btn {
  padding: 0;
  width: 56px;
  height: 56px;
  background-color: #f67e7e;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  // transition: background-image 0.3s ease;
}
@keyframes details-animation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes user-animation {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@include responsive(1150) {
  .directors__list {
    margin-right: -5px;
    margin-left: -5px;
  }
  .directors__item {
    max-width: calc(40% - 10px);
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
@include responsive(768) {
  .directors {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .directors__header {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 48px;
  }
  .directors__list {
    margin-right: 0;
    margin-left: 0;
  }
  .directors__item {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@include responsive(768) {
  .directors {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}
